<h1>New author</h1>

<%= form_with scope: :author, url: authors_path, local: true do |form| %>
    <% if @author.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@author.errors.count, "error") %> prohibited
            this author from being saved:
        </h2>
        <ul>
            <% @author.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :first_name %><br>
        <%= form.text_field :first_name %>
    </p>

    <p>
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name %>
    </p>

    <p>
        <%= form.label :homepage %><br>
        <%= form.text_field :homepage %>
    </p>

    <p>
        <%= form.submit %>
    </p>

<% end %>